<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-auction-search></app-auction-search>
    </div>

    <div class="col-md-9">
      <div class="row carousel-holder">
        <div class="col-md-12">
          <app-auction-carousel></app-auction-carousel>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let product of products" class="col-sm-4 col-lg-4 col-md-4">
          <app-auction-product-item [product]="product"></app-auction-product-item>
        </div>
      </div>

    </div>
  </div>
</div>

