<div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <div class="card mt-5" style="margin:auto;width: 600px;">
    <div class="card-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" class="form-control"/>
        <div class="alert alert-danger"
             *ngIf="f['name'].invalid && f['name'].touched">
          name is required
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" formControlName="description" id="description" class="form-control"/>
        <div class="alert alert-danger"
             *ngIf="f['description'].invalid && f['description'].touched">
          description is required
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" formControlName="price" id="price" class="form-control"/>
        <div class="alert alert-danger"
             *ngIf="f['price'].invalid && f['price'].touched">
          price is required
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" [disabled]="productForm.invalid">Add product</button>
      </div>

    </div>
  </div>
</form>
